# SurvivalOS Server Configurations
# Specify the absolute path to your local materials reference folder (leave blank to default to app root)
SOS_MATERIALS_DIR=

# Disable automatic background crawling/indexing of materials (highly recommended to prevent CPU spikes)
SOS_AUTO_CRAWL=false

# Port number for the express backend API server
PORT=3001
